#yellow-block{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.photo-coumn{
    background-color: rgb(4, 255, 230);
    height: 900px;
}

/* #photo-gallery{
    background-color: rgb(160, 255, 255);
    height: 850px;
} */

.photo-small{
    width: 100%;
    height: 300px;
    background-color: rgb(225, 0, 255);
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: rgb(238, 106, 255);
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
    #photo-gallery{
        background-color: rgb(160, 255, 255);
        height: 3400px;
    }
}

@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
    #photo-gallery{
        background-color: rgb(160, 255, 255);
        height: 1700px;
    }
}

@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
    #photo-gallery{
        background-color: rgb(160, 255, 255);
        height: 850px;
    }
}